@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

.ScrollTop {
  background-color: transparent;
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 80px;
  z-index: 999;
  cursor: pointer;

  .scroll-top-logo {
    font-size: 2rem;
    color: red;

    &:hover {
      color: black;
    }
  }
}
