.MarvelLogo {
  width: 203px;
  height: 50px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
  transform: scaleY(150%);
  color: white;
  background-color: red;
  opacity: 1;
  -webkit-animation-name: logo-bg-animation;
          animation-name: logo-bg-animation;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes logo-bg-animation {
  0% {
    background-color: transparent;
  }
  90% {
    background-color: transparent;
  }
  100% {
    background-color: red;
  }
}
@keyframes logo-bg-animation {
  0% {
    background-color: transparent;
  }
  90% {
    background-color: transparent;
  }
  100% {
    background-color: red;
  }
}
.MarvelLogo .logo-letter-m {
  opacity: 1;
  -webkit-animation-name: letter-m-animation;
          animation-name: letter-m-animation;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
@-webkit-keyframes letter-m-animation {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes letter-m-animation {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.MarvelLogo .logo-letter-a {
  opacity: 1;
  -webkit-animation-name: letter-a-animation;
          animation-name: letter-a-animation;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
@-webkit-keyframes letter-a-animation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes letter-a-animation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.MarvelLogo .logo-letter-r {
  opacity: 1;
  -webkit-animation-name: letter-r-animation;
          animation-name: letter-r-animation;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
@-webkit-keyframes letter-r-animation {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes letter-r-animation {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.MarvelLogo .logo-letter-v {
  opacity: 1;
  -webkit-animation-name: letter-v-animation;
          animation-name: letter-v-animation;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
@-webkit-keyframes letter-v-animation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes letter-v-animation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.MarvelLogo .logo-letter-e {
  opacity: 1;
  -webkit-animation-name: letter-e-animation;
          animation-name: letter-e-animation;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
@-webkit-keyframes letter-e-animation {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes letter-e-animation {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.MarvelLogo .logo-letter-l {
  opacity: 1;
  -webkit-animation-name: letter-l-animation;
          animation-name: letter-l-animation;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
@-webkit-keyframes letter-l-animation {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes letter-l-animation {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=MarvelLogo.css.map */