.MarvelLogo {
  width: 203px;
  height: 50px;
  line-height: 50px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
  transform: scaleY(150%);
  color: white;
  background-color: red;
  opacity: 1;
  animation-name: logo-bg-animation;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;

  @media (max-width: 992px) {
    transform: scale(100%);
  }

  @media (max-width: 768px) {
    transform: scaleY(150%);
  }

  @keyframes logo-bg-animation {
    0% {
      background-color: transparent;
    }
    90% {
      background-color: transparent;
    }
    100% {
      background-color: red;
    }
  }

  .logo-letter-m {
    opacity: 1;
    animation-name: letter-m-animation;
    animation-duration: 9s;
  }

  @keyframes letter-m-animation {
    0% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .logo-letter-a {
    opacity: 1;
    animation-name: letter-a-animation;
    animation-duration: 9s;
  }

  @keyframes letter-a-animation {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .logo-letter-r {
    opacity: 1;
    animation-name: letter-r-animation;
    animation-duration: 9s;
  }

  @keyframes letter-r-animation {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .logo-letter-v {
    opacity: 1;
    animation-name: letter-v-animation;
    animation-duration: 9s;
  }

  @keyframes letter-v-animation {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .logo-letter-e {
    opacity: 1;
    animation-name: letter-e-animation;
    animation-duration: 9s;
  }

  @keyframes letter-e-animation {
    0% {
      opacity: 0;
    }
    85% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .logo-letter-l {
    opacity: 1;
    animation-name: letter-l-animation;
    animation-duration: 9s;
  }

  @keyframes letter-l-animation {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
