.UserProfile {
  font-size: 1.25rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .profile-container {
    width: 480px;
    padding: 50px;
    border: 2px solid gray;
    border-radius: 3px;
  }
}
