.Header {
  min-height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;

  @media (max-width: 900px) {
    min-height: 100px;
    align-items: flex-end;
  }

  .nav-bar {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
      max-width: 100%;
    }

    @media (max-width: 700px) {
      margin-top: 60px;
      flex-direction: column;
    }

    a {
      font-size: 18px;
      font-weight: 900;
      text-decoration: none;
      color: white;

      @media (max-width: 700px) {
        font-size: 14px;
      }

      &:hover {
        color: red;
      }
    }

    .user-profile-btn {
      font-size: 14px;
      font-weight: 500;
      margin-left: 50px;
      color: gray;

      @media (max-width: 700px) {
        margin-left: 0;
      }
    }

    .log-out-btn {
      color: red;
      padding: 8px;
      border: 1px solid red;
      border-radius: 3px;

      @media (max-width: 900px) {
        border: none;
      }

      &:hover {
        color: white;
        background-color: red;
      }
    }
  }
}
