.Header {
  min-height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #151515;
  /* animation-name: header-visibility;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;

  @keyframes header-visibility {
    0% {
      opacity: 0;
    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  } */

  @media (max-width: 600px) {
    justify-content: space-evenly;
    flex-direction: column;
  }

  .nav-bar {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 375px) {
      flex-direction: column;
      align-items: center;
    }

    a {
      margin-bottom: 5px;
      font-size: 1.25rem;
      font-weight: 900;
      text-decoration: none;
      color: white;

      &:hover {
        color: red;
      }
    }

    .user-profile-btn {
      font-size: 1rem;
      margin-bottom: 5px;
      margin-left: 50px;
      color: gray;
    }

    .log-out-btn {
      color: red;
      padding: 8px;
      border: 1px solid red;
      border-radius: 3px;

      &:hover {
        color: white;
        background-color: red;
      }
    }
  }
}
