.Header {
  min-height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #151515;

  @media (max-width: 900px) {
    min-height: 100px;
    align-items: flex-end;
  }

  .nav-bar {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
      max-width: 100%;
    }

    @media (max-width: 700px) {
      margin-top: 60px;
      flex-direction: column;
    }

    a {
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 900;
      text-decoration: none;
      color: white;

      @media (max-width: 700px) {
        font-size: 14px;
      }

      &:hover {
        color: red;
      }
    }

    .user-btns {
      display: flex;
      align-items: center;

      .user-profile-btn {
        font-size: 14px;
        margin-bottom: 5px;
        margin-left: 50px;
        color: gray;

        @media (max-width: 700px) {
          margin-left: 0;
        }
      }

      .log-out-btn {
        color: red;
        padding: 8px;
        border: 1px solid red;
        border-radius: 3px;
        margin-left: 10px;

        @media (max-width: 900px) {
          border: none;
        }

        &:hover {
          color: white;
          background-color: red;
        }
      }
    }
  }
}
