.Feedback .feedback-btn {
  background-color: transparent;
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 3;
}
.Feedback .feedback-btn .feedback-logo {
  font-size: 2rem;
  color: red;
}
.Feedback .feedback-btn .feedback-logo:hover {
  color: black;
}
.Feedback .feedback-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.Feedback .feedback-backdrop .feedback-modal-container {
  background-color: #202020;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 2px solid gray;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 997;
}
@media (max-width: 768px) {
  .Feedback .feedback-backdrop .feedback-modal-container {
    max-width: 300px;
  }
}
@media (max-width: 576px) {
  .Feedback .feedback-backdrop .feedback-modal-container {
    bottom: 50vh;
    right: 50vw;
    transform: translate(50%, 50%);
  }
}
.Feedback .feedback-backdrop .feedback-modal-container .feedback-title {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: red;
}
@media (max-width: 768px) {
  .Feedback .feedback-backdrop .feedback-modal-container .feedback-title {
    font-size: 16px;
  }
}
.Feedback .feedback-backdrop .feedback-modal-container #feedback-email-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
  outline: none;
  font-size: 1rem;
  color: gray;
}
.Feedback .feedback-backdrop .feedback-modal-container #feedback-email-input::-moz-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: gray;
}
.Feedback .feedback-backdrop .feedback-modal-container #feedback-email-input:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: gray;
}
.Feedback .feedback-backdrop .feedback-modal-container #feedback-email-input::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: gray;
}
.Feedback .feedback-backdrop .feedback-modal-container #feedback-message-input {
  width: 100%;
  height: 200px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid gray;
  outline: none;
  resize: none;
  font-size: 1rem;
  color: gray;
}
.Feedback .feedback-backdrop .feedback-modal-container #feedback-message-input::-moz-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: gray;
}
.Feedback .feedback-backdrop .feedback-modal-container #feedback-message-input:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: gray;
}
.Feedback .feedback-backdrop .feedback-modal-container #feedback-message-input::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: gray;
}
.Feedback .feedback-backdrop .feedback-modal-container .feedback-btns-container {
  display: flex;
  justify-content: flex-end;
}
.Feedback .feedback-backdrop .feedback-modal-container .feedback-btns-container .btn {
  padding: 0.5rem 2rem;
  border: none;
  color: white;
  background-color: red;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
.Feedback .feedback-backdrop .feedback-modal-container .feedback-btns-container .btn:focus {
  transform: scale(0.975);
}
.Feedback .feedback-backdrop .feedback-modal-container .feedback-btns-container .btn-send {
  color: white;
  background-color: red;
}
.Feedback .feedback-backdrop .feedback-modal-container .feedback-btns-container .btn-send:disabled {
  background-color: tomato;
  cursor: not-allowed;
}
.Feedback .feedback-backdrop .feedback-modal-container .feedback-btns-container .btn-cancel {
  color: red;
  background-color: transparent;
}
.Feedback .feedback-backdrop .feedback-modal-container .feedback-btns-container .btn-cancel:hover {
  color: gray;
}
.Feedback .thank-you-message {
  font-size: 1rem;
  font-weight: 300;
  color: red;
  position: fixed;
  bottom: 25px;
  right: 130px;
  z-index: 999;
}/*# sourceMappingURL=Feedback.css.map */