.Intro {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.Intro .header-cover {
  width: 100%;
  height: 100px;
  background-color: #151515;
  position: relative;
  left: 100vw;
  -webkit-animation-name: header-cover-visibility;
          animation-name: header-cover-visibility;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes header-cover-visibility {
  0% {
    left: 0;
  }
  80% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}
@keyframes header-cover-visibility {
  0% {
    left: 0;
  }
  80% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}
.Intro .content-cover {
  width: 100%;
  height: calc(100vh - 200px);
  background-color: #151515;
  position: relative;
  right: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation-name: content-cover-visibility;
          animation-name: content-cover-visibility;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes content-cover-visibility {
  0% {
    right: 0;
  }
  80% {
    right: 0;
  }
  100% {
    right: 100vw;
  }
}
@keyframes content-cover-visibility {
  0% {
    right: 0;
  }
  80% {
    right: 0;
  }
  100% {
    right: 100vw;
  }
}
.Intro .content-cover .title-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 5vw;
  bottom: 0;
}
.Intro .content-cover .title-container .hero-title {
  font-size: 4vw;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 576px) {
  .Intro .content-cover .title-container .hero-title {
    font-size: 6vw;
  }
}
.Intro .content-cover .title-container .hero-title-cover {
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-animation-name: hero-title-visibility;
          animation-name: hero-title-visibility;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@-webkit-keyframes hero-title-visibility {
  0% {
    top: 0;
  }
  25% {
    top: 0;
  }
  50% {
    top: -60px;
  }
  70% {
    top: -60px;
  }
  100% {
    top: 0;
  }
}
@keyframes hero-title-visibility {
  0% {
    top: 0;
  }
  25% {
    top: 0;
  }
  50% {
    top: -60px;
  }
  70% {
    top: -60px;
  }
  100% {
    top: 0;
  }
}
.Intro .content-cover .subtitle-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: -5vw;
}
.Intro .content-cover .subtitle-container .hero-subtitle {
  font-size: 2vw;
  font-weight: 300;
  opacity: 1;
  color: white;
  -webkit-animation-name: hero-subtitle-show;
          animation-name: hero-subtitle-show;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@media (max-width: 576px) {
  .Intro .content-cover .subtitle-container .hero-subtitle {
    font-size: 3vw;
  }
}
@-webkit-keyframes hero-subtitle-show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hero-subtitle-show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.Intro .content-cover .subtitle-container .power-highlight {
  color: red;
  font-weight: 700;
}
.Intro .content-cover .subtitle-container .hero-subtitle-cover {
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-animation-name: hero-subtitle-hide;
          animation-name: hero-subtitle-hide;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@-webkit-keyframes hero-subtitle-hide {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  80% {
    width: 700px;
  }
  100% {
    width: 700px;
  }
}
@keyframes hero-subtitle-hide {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  80% {
    width: 700px;
  }
  100% {
    width: 700px;
  }
}
.Intro .footer-cover {
  width: 100%;
  height: 100px;
  background-color: #151515;
  position: relative;
  left: 100vw;
  -webkit-animation-name: footer-cover-visibility;
          animation-name: footer-cover-visibility;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes footer-cover-visibility {
  0% {
    left: 0;
  }
  80% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}
@keyframes footer-cover-visibility {
  0% {
    left: 0;
  }
  80% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}/*# sourceMappingURL=Intro.css.map */