// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.Footer {
  height: 100px;
  border-top: 1px solid gray;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;

  .developer-container {
    width: 150px;
    text-align: center;

    .developer-title {
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 1.5px;
      color: gray;
      margin-bottom: 5px;
    }

    .developer-name {
      font-family: 'Ms Madi', cursive;
      font-size: 40px;
      color: red;

      &:hover {
        color: white;
      }
    }
  }

  .footer-links-container {
    width: 320px;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;

    a,
    p {
      font-weight: 300;
      color: gray;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}
