@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
.AboutMe {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.AboutMe .profile-card {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  margin: 200px 0 50px;
  background-color: #121212;
  position: relative;
}
.AboutMe .profile-card .head-container {
  width: 100%;
  padding-top: 150px;
  text-align: center;
}
.AboutMe .profile-card .head-container .profile-photo {
  width: 240px;
  border: 2px solid #151515;
  border-radius: 50%;
  margin-bottom: 30px;
  position: absolute;
  top: -120px;
  left: calc(50% - 120px);
  transition: all 500ms ease-in-out;
}
.AboutMe .profile-card .head-container .profile-photo:hover {
  transform: scale(1.1);
  filter: grayscale(0.7);
}
.AboutMe .profile-card .head-container .profile-name {
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-weight: 300;
  letter-spacing: 3px;
  color: gray;
  margin-bottom: 10px;
}
.AboutMe .profile-card .head-container .profile-name .initialize {
  font-family: "Ms Madi", cursive;
  font-size: 60px;
  margin-right: 3px;
  color: red;
}
.AboutMe .profile-card .head-container .profession {
  color: gray;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .AboutMe .profile-card .head-container .profession {
    letter-spacing: 6px;
  }
}
.AboutMe .profile-card .head-container .profession-detail {
  color: white;
  font-weight: 300;
  letter-spacing: 3px;
}
.AboutMe .profile-card .social-icons {
  width: 100%;
  text-align: center;
}
.AboutMe .profile-card .social-icons i {
  font-size: 30px;
  margin: 20px 30px;
  color: white;
}
.AboutMe .profile-card .social-icons .fa-linkedin:hover {
  color: gray;
}
.AboutMe .profile-card .social-icons .fa-envelope:hover {
  color: gray;
}
.AboutMe .profile-card hr {
  width: 75%;
  height: 1px;
  border: none;
  background-color: white;
}
.AboutMe .profile-card .skills-container {
  width: 85%;
  margin: 30px auto;
}
.AboutMe .profile-card .skills-container .skills-title {
  font-family: "Ms Madi", cursive;
  font-size: 30px;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
}
.AboutMe .profile-card .skills-container .skills-list {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  .AboutMe .profile-card .skills-container .skills-list {
    flex-direction: column;
    gap: 1rem;
  }
}
.AboutMe .profile-card .skills-container .skills-list .skill {
  width: 50%;
}
.AboutMe .profile-card .skills-container .skills-list .skill .skill-title {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  color: red;
  margin-bottom: 10px;
}
.AboutMe .profile-card .skills-container .skills-list .skill ul li {
  color: white;
  margin: 0 0 5px 10px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 2px;
}
.AboutMe .profile-card .skills-container .skills-list .skill ul li::before {
  content: " - ";
}
.AboutMe .profile-card .story-container {
  width: 85%;
  margin: 50px auto 30px;
}
.AboutMe .profile-card .story-container .story-title {
  font-family: "Ms Madi", cursive;
  font-size: 30px;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
}
.AboutMe .profile-card .story-container p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.2px;
  line-height: 1.5;
  text-align: justify;
  color: white;
  margin-bottom: 20px;
}
.AboutMe .profile-card .story-container .highlighted-text {
  color: red;
  font-style: italic;
}
.AboutMe .profile-card .signature {
  font-family: "Ms Madi", cursive;
  font-size: 40px;
  color: white;
  text-align: right;
  margin: 0 100px 50px 0;
}/*# sourceMappingURL=AboutMe.css.map */