.ComicsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  background-color: #2c2c2c;

  .title-container {
    width: 100%;
    height: 250px;
    padding: 10px;
    border-bottom: 1px solid gray;
    background-image: url('../../assets/images/comics-bg.webp');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 3rem;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .subtitle {
      font-weight: 500;
      text-align: center;
      color: white;
    }
  }

  .search-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;

    .fa-magnifying-glass {
      font-size: 25px;
      color: gray;
    }

    .search-input {
      width: 260px;
      height: 40px;
      margin-left: 10px;
      border: none;
      border-bottom: 2px solid gray;
      outline: none;
      font-size: 20px;
      color: gray;
      background-color: #121212;

      &::placeholder {
        color: gray;
      }
    }
  }

  .alphabet-container {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #121212;

    .letter {
      font-weight: 500;
      color: gray;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }

  .comics-cards-container {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
    background-color: #2c2c2c;
  }
}
